In [42]:
import pandas as pd

In [43]:
# Dataframe source
vams_employees = pd.DataFrame({"Employees_ID":[100124],"First_Name":["Goodness Mercy"],"Last_Name":["Barrah"],"Other_Name":["Chiwendu"],
                              "Gender":["Female"],"Date_of_birth":["11/07/2000"],"Nationality":["Nigeria"],
                              "Position":["Stylist"],"MaritalDesc":["Single"],"DateofHire":["12/13/2023"],
                              "Absences":[0],"Date_of_termination":["null"],"Salary":["Pending"]})

In [44]:
#Dataframe preview
vams_employees

,Employees_ID,First_Name,Last_Name,Other_Name,Gender,Date_of_birth,Nationality,Position,MaritalDesc,DateofHire,Absences,Date_of_termination,Salary
0,100124,Goodness Mercy,Barrah,Chiwendu,Female,11/07/2000,Nigeria,Stylist,Single,12/13/2023,0,null,Pending

In [45]:
#csv backup
vams_employees.to_excel("C:\\Users\\User\\Desktop\\Vams_HR.xlsx")

In [46]:
vams_employees["Date_of_birth"] = pd.to_datetime(vams_employees["Date_of_birth"])
vams_employees["DateofHire"] = pd.to_datetime(vams_employees["DateofHire"])

In [47]:
#data structure check
vams_employees.dtypes

Employees_ID                    int64
First_Name                     object
Last_Name                      object
Other_Name                     object
Gender                         object
Date_of_birth          datetime64[ns]
Nationality                    object
Position                       object
MaritalDesc                    object
DateofHire             datetime64[ns]
Absences                        int64
Date_of_termination            object
Salary                         object
dtype: object